.image-grid {
  /* Ajustar el tamaño del contenedor de la cuadrícula de imágenes */
  max-width: 800px;
  margin: 0 auto;
}

.image-grid .flex {
  /* Centrar horizontalmente las imágenes */
  justify-content: center;
}

.image-grid .flex-wrap {
  /* Ajustar el espacio entre las imágenes */
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas en la cuadrícula */
  flex-wrap: wrap; /* Envolver las imágenes en varias filas */
}

.image-grid .text-white {
  /* Alinear los botones de navegación en el centro */
  text-align: center;
  margin-top: 20px;
}

.image-grid .text-white .text-2xl {
  /* Estilizar los botones de navegación */
  font-size: 24px;
  margin: 0 5px;
  cursor: pointer;
}

.image-grid .text-white .text-blue-500 {
  /* Estilizar el botón de navegación activo */
  color: #003d4c;
}

.image-grid .text-white .text-gray-500 {
  /* Estilizar los botones de navegación inactivos */
  color: gray;
}

.image-grid .flex-wrap .w-1\/5 img {
  /* Hacer que las imágenes ocupen todo el espacio disponible */
  width: 100%;
  height: auto;
  max-width: 100%; /* Ajustar el ancho máximo de la imagen al 100% */
  max-height: 100%; /* Ajustar la altura máxima de la imagen al 100% */
}
