.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative; /* Añadido para posicionar el ícono de cierre correctamente */
}

.close {
  color: #003d4c;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute; /* Añadido para centrar verticalmente */
  top: 10px; /* Ajustado para centrar verticalmente */
  right: 10px; /* Añadido para centrar horizontalmente */
}

.close:hover,
.close:focus {
  color: #d84330;
  text-decoration: none;
  cursor: pointer;
}
